<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>Servlets.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuario</servlet-name>
        <servlet-class>Servlets.AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Servlets.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerUsuarios</servlet-name>
        <servlet-class>Servlets.ObtenerUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarSesion</servlet-name>
        <servlet-class>Servlets.VerificarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerUsuario</servlet-name>
        <servlet-class>Servlets.ObtenerUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerDelegacion</servlet-name>
        <servlet-class>Servlets.ObtenerDelegacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompararParticipacion</servlet-name>
        <servlet-class>Servlets.CompararParticipacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecibeXML</servlet-name>
        <servlet-class>Servlets.RecibeXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerInfoXML</servlet-name>
        <servlet-class>Servlets.ObtenerInfoXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarXML</servlet-name>
        <servlet-class>Servlets.ListarXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/AgregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerUsuarios</servlet-name>
        <url-pattern>/ObtenerUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarSesion</servlet-name>
        <url-pattern>/VerificarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerUsuario</servlet-name>
        <url-pattern>/ObtenerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerDelegacion</servlet-name>
        <url-pattern>/ObtenerDelegacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompararParticipacion</servlet-name>
        <url-pattern>/CompararParticipacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecibeXML</servlet-name>
        <url-pattern>/RecibeXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerInfoXML</servlet-name>
        <url-pattern>/ObtenerInfoXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarXML</servlet-name>
        <url-pattern>/ListarXML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
